<a href="https://colab.research.google.com/github/Chandramani05/NBA-Games-Data-Analysis-and-Match-Prediction/blob/main/Data%20Analysis/NBA_Data_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd
import time

#Getting Data from the API

SOURCE: https://www.balldontlie.io/#introduction

In [ ]:
# Create empty dataframe
col_names = ['gameID', 'date', 'homeTeamScore', 'visitorTeamScore', 
             'season', 'period', 'status', 'time', 'postseasonBoolean', 
             'homeTeamID', 'homeTeamAbbrev', 'homeTeamCity', 'homeTeamConference', 
             'homeTeamDivision', 'homeTeamFullName', 'homeTeamName', 'visitorTeamID', 
             'visitorTeamAbbrev', 'visitorTeamCity', 'visitorTeamConference', 
             'visitorTeamDivision', 'visitorTeamFullName', 'visitorTeamName']
games_df = pd.DataFrame(columns=col_names)

## Get games for last 5 years

In [ ]:

years = [2014,2015,2016, 2017, 2018, 2019,2020,2021]
for y in years:
    print(y)
    games_url_initial = f'https://www.balldontlie.io/api/v1/games?seasons[]={y}'
    data_initial = requests.get(games_url_initial).json()
    
    for page in range(1, data_initial['meta']['total_pages']+1):
        
        games_url = f'https://www.balldontlie.io/api/v1/games?seasons[]={y}&page={page}'
        data = requests.get(games_url).json()
        
        time.sleep(1)
        

        for game in data['data']:
            games_df.loc[len(games_df.index)] = [ game['id'], game['date'], game['home_team_score'], 
                                                 game['visitor_team_score'], game['season'], game['period'], 
                                                 game['status'], game['time'], game['postseason'], game['home_team']['id'],
                                                 game['home_team']['abbreviation'], game['home_team']['city'], game['home_team']['conference'], 
                                                 game['home_team']['division'], game['home_team']['full_name'], game['home_team']['name'], 
                                                 game['visitor_team']['id'], game['visitor_team']['abbreviation'], 
                                                 game['visitor_team']['city'], game['visitor_team']['conference'], 
                                                 game['visitor_team']['division'], game['visitor_team']['full_name'], 
                                                 game['visitor_team']['full_name'] ]

        
games_df.head(25)

2014
2015
2016
2017
2018
2019
2020
2021

,gameID,date,homeTeamScore,visitorTeamScore,season,period,status,time,postseasonBoolean,homeTeamID,...,homeTeamDivision,homeTeamFullName,homeTeamName,visitorTeamID,visitorTeamAbbrev,visitorTeamCity,visitorTeamConference,visitorTeamDivision,visitorTeamFullName,visitorTeamName
0,27276,2014-11-06T00:00:00.000Z,108,87,2014,4,Final,,False,25,...,Northwest,Portland Trail Blazers,Trail Blazers,7,DAL,Dallas,West,Southwest,Dallas Mavericks,Dallas Mavericks
1,27277,2014-11-07T00:00:00.000Z,122,119,2014,4,Final,,False,4,...,Southeast,Charlotte Hornets,Hornets,1,ATL,Atlanta,East,Southeast,Atlanta Hawks,Atlanta Hawks
2,27278,2014-11-08T00:00:00.000Z,87,98,2014,4,Final,,False,11,...,Southwest,Houston Rockets,Rockets,10,GSW,Golden State,West,Pacific,Golden State Warriors,Golden State Warriors
3,27279,2014-11-09T00:00:00.000Z,116,100,2014,4,Final,,False,25,...,Northwest,Portland Trail Blazers,Trail Blazers,8,DEN,Denver,West,Northwest,Denver Nuggets,Denver Nuggets
4,27280,2014-11-10T00:00:00.000Z,85,89,2014,4,Final,,False,13,...,Pacific,LA Clippers,Clippers,27,SAS,San Antonio,West,Southwest,San Antonio Spurs,San Antonio Spurs
5,27281,2014-11-11T00:00:00.000Z,107,102,2014,4,Final,,False,15,...,Southwest,Memphis Grizzlies,Grizzlies,14,LAL,Los Angeles,West,Pacific,Los Angeles Lakers,Los Angeles Lakers
6,27282,2014-11-12T00:00:00.000Z,107,103,2014,4,Final,,False,30,...,Southeast,Washington Wizards,Wizards,9,DET,Detroit,East,Central,Detroit Pistons,Detroit Pistons
7,27283,2014-11-12T00:00:00.000Z,101,113,2014,4,Final,,False,18,...,Northwest,Minnesota Timberwolves,Timberwolves,11,HOU,Houston,West,Southwest,Houston Rockets,Houston Rockets
8,27284,2014-11-13T00:00:00.000Z,93,100,2014,4,Final,,False,28,...,Atlantic,Toronto Raptors,Raptors,5,CHI,Chicago,East,Central,Chicago Bulls,Chicago Bulls
9,27285,2014-11-14T00:00:00.000Z,121,122,2014,4,Final,,False,2,...,Atlantic,Boston Celtics,Celtics,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cleveland Cavaliers
10,27286,2014-11-15T00:00:00.000Z,120,107,2014,4,Final,,False,13,...,Pacific,LA Clippers,Clippers,24,PHX,Phoenix,West,Pacific,Phoenix Suns,Phoenix Suns
11,27287,2014-11-17T00:00:00.000Z,119,93,2014,4,Final,,False,15,...,Southwest,Memphis Grizzlies,Grizzlies,11,HOU,Houston,West,Southwest,Houston Rockets,Houston Rockets
12,27288,2014-11-19T00:00:00.000Z,86,88,2014,4,Final,,False,9,...,Central,Detroit Pistons,Pistons,24,PHX,Phoenix,West,Pacific,Phoenix Suns,Phoenix Suns
13,27289,2014-11-21T00:00:00.000Z,92,121,2014,4,Final,,False,18,...,Northwest,Minnesota Timberwolves,Timberwolves,27,SAS,San Antonio,West,Southwest,San Antonio Spurs,San Antonio Spurs
14,27290,2015-04-07T00:00:00.000Z,105,100,2014,4,Final,,False,16,...,Southeast,Miami Heat,Heat,4,CHA,Charlotte,East,Southeast,Charlotte Hornets,Charlotte Hornets
15,27291,2015-04-08T00:00:00.000Z,86,102,2014,4,Final,,False,20,...,Atlantic,New York Knicks,Knicks,12,IND,Indiana,East,Central,Indiana Pacers,Indiana Pacers
16,27292,2015-04-10T00:00:00.000Z,103,104,2014,4,Final,,False,11,...,Southwest,Houston Rockets,Rockets,27,SAS,San Antonio,West,Southwest,San Antonio Spurs,San Antonio Spurs
17,27293,2015-04-12T00:00:00.000Z,121,114,2014,4,Final,,False,11,...,Southwest,Houston Rockets,Rockets,19,NOP,New Orleans,West,Southwest,New Orleans Pelicans,New Orleans Pelicans
18,27294,2015-04-13T00:00:00.000Z,97,107,2014,4,Final,,False,23,...,Atlantic,Philadelphia 76ers,76ers,17,MIL,Milwaukee,East,Central,Milwaukee Bucks,Milwaukee Bucks
19,27295,2015-04-14T00:00:00.000Z,101,112,2014,4,Final,,False,24,...,Pacific,Phoenix Suns,Suns,13,LAC,LA,West,Pacific,LA Clippers,LA Clippers
20,27296,2015-04-15T00:00:00.000Z,92,87,2014,4,Final,,False,28,...,Atlantic,Toronto Raptors,Raptors,4,CHA,Charlotte,East,Southeast,Charlotte Hornets,Charlotte Hornets
21,27297,2015-04-15T00:00:00.000Z,101,105,2014,4,Final,,False,23,...,Atlantic,Philadelphia 76ers,76ers,16,MIA,Miami,East,Southeast,Miami Heat,Miami Heat
22,27374,2014-11-13T00:00:00.000Z,111,110,2014,4,Final,,False,15,...,Southwest,Memphis Grizzlies,Grizzlies,26,SAC,Sacramento,West,Pacific,Sacramento Kings,Sacramento Kings
23,27375,2014-11-14T00:00:00.000Z,87,108,2014,4,Final,,False,12,...,Central,Indiana Pacers,Pacers,8,DEN,Denver,West,Northwest,Denver Nuggets,Denver Nuggets
24,27376,2014-11-15T00:00:00.000Z,90,99,2014,4,Final,,False,5,...,Central,Chicago Bulls,Bulls,12,IND,Indiana,East,Central,Indiana Pacers,Indiana Pacers

In [ ]:
games_df.shape

(0, 23)

In [ ]:
games_df.to_csv('/content/drive/MyDrive/Machine Learning NBA /allGamesFinal.csv')

## Get player data for each player in all of the games in the dataframe above

In [ ]:
col_names2 = ["gameID", "statsID", "assists", "blocks", "defensiveRebounds", "threePointFieldGoalPercent", 
              "threePointFieldGoalAttempted", "threePointFieldGoal", "fieldGoalPercent", "fieldGoalAttempt", 
              "fieldGoalMade", "freeThrowPercent", "freeThrowAttempt", 
              "freeThrowMade", "minutes", "offensiveRebound", "personalFouls", "playerID", "playerFirstName", 
              "playerHeightFeet", "playerHeightInches", "playerLastName", 
              "playerPosition", "team_id", "playerWeightPounds", "points", 
              "rebounds", "steals", "teamID", "turnovers"]

game_stats_df = pd.DataFrame(columns=col_names2)

In [ ]:
# Gather data from API
game_id_list = games_df['gameID']

for id in game_id_list[6444:48781]:
    print(f'Game id: {id}')
    #player_url_initial = f'https://www.balldontlie.io/api/v1/stats?game_ids[]={id}&per_page=100'
    #player_data_initial = requests.get(player_url_initial).json()
    
    for page in range(1,2):
        print(f'Page: {page}')
        try :
          player_games_url = f'https://www.balldontlie.io/api/v1/stats?game_ids[]={id}&page={page}&per_page=100'
          player_data = requests.get(player_games_url).json()
          print(len(player_data['data']))
          for stat in player_data['data']:
            game_stats_df.loc[len(game_stats_df.index)] = [ id, stat['id'], stat['ast'], stat['blk'],
                                                          stat['dreb'], stat['fg3_pct'], stat['fg3a'],
                                                          stat['fg3m'], stat['fg_pct'], stat['fga'],
                                                          stat['fgm'], stat['ft_pct'], stat['fta'],
                                                          stat['ftm'], stat['min'], stat['oreb'],
                                                          stat['pf'], stat['player']['id'], stat['player']['first_name'],
                                                          stat['player']['height_feet'], stat['player']['height_inches'],
                                                          stat['player']['last_name'], stat['player']['position'],
                                                          stat['player']['team_id'], stat['player']['weight_pounds'],
                                                          stat['pts'], stat['reb'], stat['stl'], stat['team']['id'],
                                                          stat['turnover'] ]
        except Exception as exc:
          time.sleep(3)
          continue   
        
        time.sleep(1)

        

print(f'Shape: {game_stats_df.shape}')  
game_stats_df.head(50)

Streaming output truncated to the last 5000 lines.
29
Game id: 264390
Page: 1
27
Game id: 264596
Page: 1
26
Game id: 264742
Page: 1
27
Game id: 264415
Page: 1
25
Game id: 264455
Page: 1
26
Game id: 264348
Page: 1
27
Game id: 264665
Page: 1
26
Game id: 264466
Page: 1
27
Game id: 264492
Page: 1
28
Game id: 264400
Page: 1
24
Game id: 264701
Page: 1
26
Game id: 264440
Page: 1
30
Game id: 264582
Page: 1
27
Game id: 264553
Page: 1
29
Game id: 264715
Page: 1
27
Game id: 264482
Page: 1
30
Game id: 264686
Page: 1
29
Game id: 264500
Page: 1
27
Game id: 264660
Page: 1
25
Game id: 264566
Page: 1
27
Game id: 264731
Page: 1
28
Game id: 264637
Page: 1
24
Game id: 264799
Page: 1
24
Game id: 264749
Page: 1
26
Game id: 264506
Page: 1
30
Game id: 264293
Page: 1
29
Game id: 264363
Page: 1
26
Game id: 264752
Page: 1
27
Game id: 264368
Page: 1
30
Game id: 264694
Page: 1
24
Game id: 264309
Page: 1
28
Game id: 264666
Page: 1
29
Game id: 264606
Page: 1
29
Game id: 264381
Page: 1
26
Game id: 264501
Page: 1
28
Game id: 264387
Page: 1
26
Game id: 264398
Page: 1
25
Game id: 264405
Page: 1
30
Game id: 264286
Page: 1
28
Game id: 264315
Page: 1
27
Game id: 264708
Page: 1
26
Game id: 264413
Page: 1
26
Game id: 264475
Page: 1
30
Game id: 264419
Page: 1
28
Game id: 264468
Page: 1
28
Game id: 264627
Page: 1
26
Game id: 264425
Page: 1
25
Game id: 264453
Page: 1
26
Game id: 264325
Page: 1
27
Game id: 264460
Page: 1
29
Game id: 264331
Page: 1
24
Game id: 264435
Page: 1
28
Game id: 264344
Page: 1
30
Game id: 264340
Page: 1
28
Game id: 264438
Page: 1
27
Game id: 264531
Page: 1
25
Game id: 264357
Page: 1
30
Game id: 264592
Page: 1
24
Game id: 264556
Page: 1
27
Game id: 264522
Page: 1
30
Game id: 264483
Page: 1
26
Game id: 264659
Page: 1
24
Game id: 264635
Page: 1
26
Game id: 264588
Page: 1
27
Game id: 264539
Page: 1
25
Game id: 264721
Page: 1
25
Game id: 264513
Page: 1
29
Game id: 264621
Page: 1
27
Game id: 264741
Page: 1
25
Game id: 264685
Page: 1
26
Game id: 264581
Page: 1
28
Game id: 264652
Page: 1
29
Game id: 264782
Page: 1
27
Game id: 264699
Page: 1
24
Game id: 264613
Page: 1
27
Game id: 264717
Page: 1
27
Game id: 264678
Page: 1
27
Game id: 264733
Page: 1
26
Game id: 264745
Page: 1
27
Game id: 264786
Page: 1
27
Game id: 264774
Page: 1
25
Game id: 264794
Page: 1
24
Game id: 264341
Page: 1
27
Game id: 264723
Page: 1
27
Game id: 264299
Page: 1
28
Game id: 264295
Page: 1
28
Game id: 264490
Page: 1
24
Game id: 264668
Page: 1
28
Game id: 264632
Page: 1
27
Game id: 264452
Page: 1
28
Game id: 264329
Page: 1
28
Game id: 264650
Page: 1
27
Game id: 264571
Page: 1
27
Game id: 264511
Page: 1
25
Game id: 264498
Page: 1
27
Game id: 264362
Page: 1
29
Game id: 264530
Page: 1
24
Game id: 264404
Page: 1
27
Game id: 264324
Page: 1
29
Game id: 264555
Page: 1
28
Game id: 264587
Page: 1
28
Game id: 264356
Page: 1
28
Game id: 264314
Page: 1
30
Game id: 264441
Page: 1
28
Game id: 264369
Page: 1
28
Game id: 264537
Page: 1
27
Game id: 264469
Page: 1
25
Game id: 264612
Page: 1
27
Game id: 264396
Page: 1
34
Game id: 264349
Page: 1
28
Game id: 264411
Page: 1
27
Game id: 264307
Page: 1
27
Game id: 264480
Page: 1
27
Game id: 264593
Page: 1
25
Game id: 264775
Page: 1
27
Game id: 264619
Page: 1
34
Game id: 264436
Page: 1
24
Game id: 264389
Page: 1
27
Game id: 264697
Page: 1
28
Game id: 264673
Page: 1
24
Game id: 264459
Page: 1
24
Game id: 264423
Page: 1
26
Game id: 264527
Page: 1
27
Game id: 264732
Page: 1
27
Game id: 264579
Page: 1
29
Game id: 264474
Page: 1
25
Game id: 264565
Page: 1
29
Game id: 264705
Page: 1
27
Game id: 264644
Page: 1
28
Game id: 264657
Page: 1
27
Game id: 264683
Page: 1
30
Game id: 264743
Page: 1
27
Game id: 264716
Page: 1
26
Game id: 264689
Page: 1
26
Game id: 264746
Page: 1
28
Game id: 264751
Page: 1
30
Game id: 264802
Page: 1
24
Game id: 264795
Page: 1
26
Game id: 264789
Page: 1
30
Game id: 264706
Page: 1
27
Game id: 264472
Page: 1
27
Game id: 264586
Page: 1
26
Game id: 264433
Page: 1
27
Game id: 264534
Page: 1
27
Game id: 264481
Page: 1
24
Game id: 264787
Page: 1
30
Game id: 264696
Page: 1
30
Game id: 264439
Page: 1
28
Game id: 264320
Page: 1
27
Game id: 264570
Page: 1
27
Game id: 264386
Page: 1
25
Game id: 264367
Page: 1
28
Game id: 264489
Page: 1
27
Game id: 264633
Page: 1
27
Game id: 264407
Page: 1
27
Game id: 264416
Page: 1
24
Game id: 264688
Page: 1
24
Game id: 264496
Page: 1
28
Game id: 264643
Page: 1
24
Game id: 264339
Page: 1
28
Game id: 264355
Page: 1
29
Game id: 264779
Page: 1
27
Game id: 264395
Page: 1
26
Game id: 264450
Page: 1
28
Game id: 264507
Page: 1
26
Game id: 264418
Page: 1
28
Game id: 264403
Page: 1
24
Game id: 264674
Page: 1
26
Game id: 264681
Page: 1
30
Game id: 264510
Page: 1
24
Game id: 264722
Page: 1
27
Game id: 264365
Page: 1
30
Game id: 264590
Page: 1
30
Game id: 264457
Page: 1
26
Game id: 264426
Page: 1
27
Game id: 264521
Page: 1
27
Game id: 264771
Page: 1
29
Game id: 264618
Page: 1
26
Game id: 264465
Page: 1
27
Game id: 264529
Page: 1
28
Game id: 264763
Page: 1
25
Game id: 264648
Page: 1
29
Game id: 264792
Page: 1
28
Game id: 264558
Page: 1
25
Game id: 264562
Page: 1
27
Game id: 264757
Page: 1
29
Game id: 264744
Page: 1
26
Game id: 264740
Page: 1
24
Game id: 264713
Page: 1
29
Game id: 127732
Page: 1
28
Game id: 127729
Page: 1
28
Game id: 127827
Page: 1
25
Game id: 127806
Page: 1
28
Game id: 127641
Page: 1
25
Game id: 127820
Page: 1
24
Game id: 127890
Page: 1
27
Game id: 127559
Page: 1
29
Game id: 127866
Page: 1
28
Game id: 127703
Page: 1
27
Game id: 127606
Page: 1
25
Game id: 127692
Page: 1
24
Game id: 127668
Page: 1
28
Game id: 127796
Page: 1
29
Game id: 127553
Page: 1
24
Game id: 127601
Page: 1
24
Game id: 127590
Page: 1
29
Game id: 127633
Page: 1
25
Game id: 127569
Page: 1
27
Game id: 127705
Page: 1
24
Game id: 127584
Page: 1
27
Game id: 127577
Page: 1
25
Game id: 127971
Page: 1
29
Game id: 128017
Page: 1
26
Game id: 128059
Page: 1
27
Game id: 127776
Page: 1
24
Game id: 127879
Page: 1
25
Game id: 127612
Page: 1
24
Game id: 127649
Page: 1
29
Game id: 127657
Page: 1
25
Game id: 127896
Page: 1
25
Game id: 127841
Page: 1
24
Game id: 127906
Page: 1
27
Game id: 127857
Page: 1
25
Game id: 128042
Page: 1
26
Game id: 127771
Page: 1
26
Game id: 127766
Page: 1
28
Game id: 127756
Page: 1
28
Game id: 127934
Page: 1
26
Game id: 127722
Page: 1
29
Game id: 127749
Page: 1
26
Game id: 127998
Page: 1
24
Game id: 127834
Page: 1
26
Game id: 127812
Page: 1
28
Game id: 127874
Page: 1
24
Game id: 127963
Page: 1
24
Game id: 127920
Page: 1
28
Game id: 127846
Page: 1
25
Game id: 128029
Page: 1
25
Game id: 127924
Page: 1
24
Game id: 128013
Page: 1
28
Game id: 127980
Page: 1
28
Game id: 127987
Page: 1
25
Game id: 127895
Page: 1
24
Game id: 127909
Page: 1
29
Game id: 127955
Page: 1
27
Game id: 128052
Page: 1
24
Game id: 128036
Page: 1
25
Game id: 128001
Page: 1
27
Game id: 127942
Page: 1
28
Game id: 127688
Page: 1
26
Game id: 455103
Page: 1
31
Game id: 450930
Page: 1
31
Game id: 455104
Page: 1
31
Game id: 455105
Page: 1
23
Game id: 455106
Page: 1
31
Game id: 455107
Page: 1
30
Game id: 457259
Page: 1
29
Game id: 457260
Page: 1
26
Game id: 457265
Page: 1
30
Game id: 457261
Page: 1
24
Game id: 448625
Page: 1
29
Game id: 457262
Page: 1
32
Game id: 473357
Page: 1
38
Game id: 457263
Page: 1
31
Game id: 473358
Page: 1
40
Game id: 457264
Page: 1
31
Game id: 473359
Page: 1
40
Game id: 448628
Page: 1
41
Game id: 459139
Page: 1
34
Game id: 459132
Page: 1
29
Game id: 473360
Page: 1
40
Game id: 459133
Page: 1
31
Game id: 473362
Page: 1
40
Game id: 459134
Page: 1
27
Game id: 473363
Page: 1
36
Game id: 459135
Page: 1
32
Game id: 473364
Page: 1
37
Game id: 459136
Page: 1
27
Game id: 473361
Page: 1
39
Game id: 459137
Page: 1
27
Game id: 473365
Page: 1
40
Game id: 459138
Page: 1
29
Game id: 473422
Page: 1
25
Game id: 473450
Page: 1
28
Game id: 473411
Page: 1
28
Game id: 473437
Page: 1
29
Game id: 473424
Page: 1
30
Game id: 473412
Page: 1
28
Game id: 473414
Page: 1
29
Game id: 473415
Page: 1
30
Game id: 473428
Page: 1
30
Game id: 473426
Page: 1
34
Game id: 473482
Page: 1
29
Game id: 473435
Page: 1
27
Game id: 473475
Page: 1
27
Game id: 473443
Page: 1
27
Game id: 473449
Page: 1
30
Game id: 473472
Page: 1
27
Game id: 473489
Page: 1
26
Game id: 473464
Page: 1
28
Game id: 473492
Page: 1
29
Game id: 473514
Page: 1
28
Game id: 473502
Page: 1
28
Game id: 473518
Page: 1
27
Game id: 473567
Page: 1
26
Game id: 473506
Page: 1
27
Game id: 473550
Page: 1
25
Game id: 473524
Page: 1
28
Game id: 473529
Page: 1
26
Game id: 473533
Page: 1
28
Game id: 473538
Page: 1
28
Game id: 473566
Page: 1
25
Game id: 473543
Page: 1
27
Game id: 473547
Page: 1
25
Game id: 473556
Page: 1
29
Game id: 473563
Page: 1
23
Game id: 473562
Page: 1
24
Game id: 473576
Page: 1
29
Game id: 473577
Page: 1
28
Game id: 473652
Page: 1
26
Game id: 473580
Page: 1
26
Game id: 473657
Page: 1
26
Game id: 473579
Page: 1
23
Game id: 473584
Page: 1
25
Game id: 473582
Page: 1
25
Game id: 473610
Page: 1
27
Game id: 473612
Page: 1
26
Game id: 473627
Page: 1
24
Game id: 473634
Page: 1
24
Game id: 473630
Page: 1
30
Game id: 473635
Page: 1
26
Game id: 473644
Page: 1
25
Game id: 473645
Page: 1
25
Game id: 473690
Page: 1
27
Game id: 473369
Page: 1
40
Game id: 473366
Page: 1
40
Game id: 473650
Page: 1
27
Game id: 473664
Page: 1
28
Game id: 473698
Page: 1
25
Game id: 473669
Page: 1
30
Game id: 473685
Page: 1
24
Game id: 473672
Page: 1
27
Game id: 473677
Page: 1
25
Game id: 473678
Page: 1
25
Game id: 473700
Page: 1
24
Game id: 473784
Page: 1
23
Game id: 473708
Page: 1
27
Game id: 473691
Page: 1
28
Game id: 473714
Page: 1
26
Game id: 473735
Page: 1
25
Game id: 473736
Page: 1
24
Game id: 473743
Page: 1
26
Game id: 473788
Page: 1
26
Game id: 473770
Page: 1
24
Game id: 473771
Page: 1
29
Game id: 473805
Page: 1
23
Game id: 473769
Page: 1
25
Game id: 473772
Page: 1
27
Game id: 473774
Page: 1
25
Game id: 473778
Page: 1
24
Game id: 473798
Page: 1
26
Game id: 473814
Page: 1
26
Game id: 473838
Page: 1
22
Game id: 473790
Page: 1
28
Game id: 473806
Page: 1
24
Game id: 473815
Page: 1
24
Game id: 473844
Page: 1
25
Game id: 473831
Page: 1
22
Game id: 473827
Page: 1
24
Game id: 473750
Page: 1
24
Game id: 473417
Page: 1
29
Game id: 473555
Page: 1
26
Game id: 473480
Page: 1
25
Game id: 473425
Page: 1
34
Game id: 473487
Page: 1
28
Game id: 473632
Page: 1
24
Game id: 473572
Page: 1
27
Game id: 473629
Page: 1
27
Game id: 473761
Page: 1
23
Game id: 473498
Page: 1
25
Game id: 473741
Page: 1
26
Game id: 473588
Page: 1
25
Game id: 473516
Page: 1
28
Game id: 473526
Page: 1
28
Game id: 473471
Page: 1
26
Game id: 473684
Page: 1
28
Game id: 473473
Page: 1
26
Game id: 473594
Page: 1
25
Game id: 473503
Page: 1
26
Game id: 473527
Page: 1
25
Game id: 473944
Page: 1
26
Game id: 473532
Page: 1
27
Game id: 461293
Page: 1
23
Game id: 473970
Page: 1
27
Game id: 473542
Page: 1
24
Game id: 473797
Page: 1
24
Game id: 473600
Page: 1
24
Game id: 473639
Page: 1
24
Game id: 473548
Page: 1
34
Game id: 473715
Page: 1
27
Game id: 473648
Page: 1
27
Game id: 473607
Page: 1
27
Game id: 473918
Page: 1
27
Game id: 473727
Page: 1
23
Game id: 473777
Page: 1
29
Game id: 473786
Page: 1
24
Game id: 473703
Page: 1
24
Game id: 473661
Page: 1
28
Game id: 473724
Page: 1
26
Game id: 473689
Page: 1
27
Game id: 473787
Page: 1
24
Game id: 473813
Page: 1
23
Game id: 473892
Page: 1
25
Game id: 473842
Page: 1
27
Game id: 473849
Page: 1
24
Game id: 473897
Page: 1
28
Game id: 473825
Page: 1
26
Game id: 473927
Page: 1
25
Game id: 473969
Page: 1
27
Game id: 473901
Page: 1
26
Game id: 474015
Page: 1
22
Game id: 473985
Page: 1
24
Game id: 474011
Page: 1
25
Game id: 474074
Page: 1
25
Game id: 474025
Page: 1
25
Game id: 473821
Page: 1
24
Game id: 474041
Page: 1
24
Game id: 474020
Page: 1
23
Game id: 474049
Page: 1
23
Game id: 474062
Page: 1
24
Game id: 474076
Page: 1
27
Game id: 474106
Page: 1
23
Game id: 474072
Page: 1
26
Game id: 474099
Page: 1
27
Game id: 473857
Page: 1
24
Game id: 473521
Page: 1
29
Game id: 473522
Page: 1
26
Game id: 473575
Page: 1
27
Game id: 473578
Page: 1
24
Game id: 473423
Page: 1
27
Game id: 473441
Page: 1
27
Game id: 473454
Page: 1
27
Game id: 473421
Page: 1
29
Game id: 473420
Page: 1
28
Game id: 473457
Page: 1
24
Game id: 473553
Page: 1
27
Game id: 473470
Page: 1
27
Game id: 473468
Page: 1
27
Game id: 473431
Page: 1
26
Game id: 473427
Page: 1
30
Game id: 473461
Page: 1
27
Game id: 473462
Page: 1
29
Game id: 473494
Page: 1
26
Game id: 473490
Page: 1
26
Game id: 473504
Page: 1
24
Game id: 473509
Page: 1
29
Game id: 473447
Page: 1
27
Game id: 473537
Page: 1
26
Game id: 473484
Page: 1
28
Game id: 473540
Page: 1
26
Game id: 473551
Page: 1
24
Game id: 473605
Page: 1
29
Game id: 473606
Page: 1
26
Game id: 461294
Page: 1
26
Game id: 473478
Page: 1
27
Game id: 473654
Page: 1
27
Game id: 473598
Page: 1
29
Game id: 473599
Page: 1
25
Game id: 473660
Page: 1
24
Game id: 473586
Page: 1
28
Game id: 473590
Page: 1
29
Game id: 473501
Page: 1
26
Game id: 473546
Page: 1
28
Game id: 473611
Page: 1
27
Game id: 473614
Page: 1
27
Game id: 473565
Page: 1
26
Game id: 473683
Page: 1
25
Game id: 473561
Page: 1
26
Game id: 473559
Page: 1
28
Game id: 473581
Page: 1
22
Game id: 473626
Page: 1
27
Game id: 473628
Page: 1
27
Game id: 473682
Page: 1
28
Game id: 473686
Page: 1
24
Game id: 473663
Page: 1
27
Game id: 473670
Page: 1
24
Game id: 473569
Page: 1
26
Game id: 473705
Page: 1
27
Game id: 473706
Page: 1
25
Game id: 473636
Page: 1
26
Game id: 473643
Page: 1
25
Game id: 473674
Page: 1
25
Game id: 473694
Page: 1
26
Game id: 473696
Page: 1
26
Game id: 473699
Page: 1
26
Game id: 473711
Page: 1
27
Game id: 473712
Page: 1
26
Game id: 473731
Page: 1
26
Game id: 473718
Page: 1
25
Game id: 473719
Page: 1
27
Game id: 473448
Page: 1
28
Game id: 473474
Page: 1
28
Game id: 473466
Page: 1
26
Game id: 473438
Page: 1
28
Game id: 473486
Page: 1
24
Game id: 473496
Page: 1
27
Game id: 473429
Page: 1
29
Game id: 473458
Page: 1
29
Game id: 473479
Page: 1
26
Game id: 473451
Page: 1
26
Game id: 461295
Page: 1
30
Game id: 474016
Page: 1
27
Game id: 474001
Page: 1
24
Game id: 474007
Page: 1
25
Game id: 474021
Page: 1
28
Game id: 474037
Page: 1
22
Game id: 474044
Page: 1
25
Game id: 474108
Page: 1
26
Game id: 474055
Page: 1
26
Game id: 474028
Page: 1
25
Game id: 474066
Page: 1
25
Game id: 474082
Page: 1
27
Game id: 474060
Page: 1
26
Game id: 474101
Page: 1
27
Game id: 474105
Page: 1
27
Game id: 474125
Page: 1
26
Game id: 474170
Page: 1
25
Game id: 474119
Page: 1
24
Game id: 474137
Page: 1
26
Game id: 474145
Page: 1
29
Game id: 474163
Page: 1
22
Game id: 474178
Page: 1
27
Game id: 474187
Page: 1
25
Game id: 461296
Page: 1
28
Game id: 473558
Page: 1
26
Game id: 473442
Page: 1
27
Game id: 473444
Page: 1
27
Game id: 473452
Page: 1
24
Game id: 473465
Page: 1
27
Game id: 473477
Page: 1
27
Game id: 473481
Page: 1
25
Game id: 473491
Page: 1
28
Game id: 473499
Page: 1
25
Game id: 473505
Page: 1
28
Game id: 473515
Page: 1
24
Game id: 473520
Page: 1
27
Game id: 473539
Page: 1
26
Game id: 473545
Page: 1
26
Game id: 473549
Page: 1
25
Game id: 473622
Page: 1
24
Game id: 473573
Page: 1
26
Game id: 473585
Page: 1
30
Game id: 473595
Page: 1
25
Game id: 473604
Page: 1
26
Game id: 473615
Page: 1
28
Game id: 473651
Page: 1
25
Game id: 473642
Page: 1
26
Game id: 473828
Page: 1
23
Game id: 473666
Page: 1
25
Game id: 473679
Page: 1
28
Game id: 473692
Page: 1
25
Game id: 473702
Page: 1
27
Game id: 473710
Page: 1
24
Game id: 473717
Page: 1
25
Game id: 473725
Page: 1
26
Game id: 473730
Page: 1
27
Game id: 473738
Page: 1
23
Game id: 473744
Page: 1
23
Game id: 473754
Page: 1
26
Game id: 473758
Page: 1
28
Game id: 473766
Page: 1
23
Game id: 473779
Page: 1
24
Game id: 473793
Page: 1
24
Game id: 473802
Page: 1
25
Game id: 473808
Page: 1
26
Game id: 473817
Page: 1
24
Game id: 473824
Page: 1
24
Game id: 473846
Page: 1
25
Game id: 473852
Page: 1
27
Game id: 473860
Page: 1
25
Game id: 473867
Page: 1
23
Game id: 473876
Page: 1
23
Game id: 473882
Page: 1
25
Game id: 473888
Page: 1
23
Game id: 473905
Page: 1
25
Game id: 473913
Page: 1
25
Game id: 473920
Page: 1
26
Game id: 473928
Page: 1
24
Game id: 473934
Page: 1
25
Game id: 473939
Page: 1
28
Game id: 473958
Page: 1
27
Game id: 473965
Page: 1
25
Game id: 473972
Page: 1
27
Game id: 473445
Page: 1
34
Game id: 473476
Page: 1
26
Game id: 473439
Page: 1
30
Game id: 473467
Page: 1
26
Game id: 473500
Page: 1
29
Game id: 473433
Page: 1
28
Game id: 473493
Page: 1
28
Game id: 473460
Page: 1
29
Game id: 473455
Page: 1
26
Game id: 473483
Page: 1
26
Game id: 461297
Page: 1
30
Game id: 474394
Page: 1
25
Game id: 473839
Page: 1
25
Game id: 474198
Page: 1
22
Game id: 474206
Page: 1
23
Game id: 474211
Page: 1
24
Game id: 474220
Page: 1
23
Game id: 474224
Page: 1
24
Game id: 474375
Page: 1
23
Game id: 474381
Page: 1
23
Game id: 474448
Page: 1
23
Game id: 474402
Page: 1
23
Game id: 474408
Page: 1
25
Game id: 474400
Page: 1
23
Game id: 474452
Page: 1
24
Game id: 474522
Page: 1
26
Game id: 474458
Page: 1
26
Game id: 474478
Page: 1
22
Game id: 474487
Page: 1
25
Game id: 474501
Page: 1
23
Game id: 474507
Page: 1
26
Game id: 474510
Page: 1
23
Game id: 474436
Page: 1
34
Game id: 474528
Page: 1
28
Game id: 474533
Page: 1
24
Game id: 461298
Page: 1
33
Game id: 473655
Page: 1
25
Game id: 473440
Page: 1
30
Game id: 473446
Page: 1
27
Game id: 473453
Page: 1
28
Game id: 473469
Page: 1
27
Game id: 473485
Page: 1
25
Game id: 473495
Page: 1
28
Game id: 473510
Page: 1
25
Game id: 473511
Page: 1
26
Game id: 473519
Page: 1
25
Game id: 473574
Page: 1
24
Game id: 473587
Page: 1
34
Game id: 473616
Page: 1
24
Game id: 473620
Page: 1
24
Game id: 473624
Page: 1
24
Game id: 473646
Page: 1
27
Game id: 473834
Page: 1
26
Game id: 473668
Page: 1
25
Game id: 473681
Page: 1
28
Game id: 473697
Page: 1
28
Game id: 473707
Page: 1
27
Game id: 473720
Page: 1
25
Game id: 473733
Page: 1
29
Game id: 473748
Page: 1
28
Game id: 473756
Page: 1
25
Game id: 473763
Page: 1
24
Game id: 473783
Page: 1
22
Game id: 473893
Page: 1
24
Game id: 473900
Page: 1
24
Game id: 473908
Page: 1
27
Game id: 473912
Page: 1
25
Game id: 473921
Page: 1
26
Game id: 473943
Page: 1
27
Game id: 473968
Page: 1
26
Game id: 473583
Page: 1
28
Game id: 473592
Page: 1
27
Game id: 473593
Page: 1
26
Game id: 473436
Page: 1
28
Game id: 473434
Page: 1
29
Game id: 473609
Page: 1
29
Game id: 473617
Page: 1
25
Game id: 473601
Page: 1
27
Game id: 473456
Page: 1
30
Game id: 473463
Page: 1
30
Game id: 473459
Page: 1
28
Game id: 473488
Page: 1
24
Game id: 473525
Page: 1
27
Game id: 473534
Page: 1
25
Game id: 473528
Page: 1
28
Game id: 473571
Page: 1
24
Game id: 461299
Page: 1
33
Game id: 474029
Page: 1
27
Game id: 473999
Page: 1
26
Game id: 474043
Page: 1
27
Game id: 474005
Page: 1
26
Game id: 474013
Page: 1
27
Game id: 474033
Page: 1
28
Game id: 474046
Page: 1
29
Game id: 474059
Page: 1
26
Game id: 474054
Page: 1
26
Game id: 474064
Page: 1
26
Game id: 474058
Page: 1
27
Game id: 474071
Page: 1
23
Game id: 474089
Page: 1
26
Game id: 474083
Page: 1
28
Game id: 474088
Page: 1
26
Game id: 474098
Page: 1
25
Game id: 474115
Page: 1
25
Game id: 474173
Page: 1
28
Game id: 474139
Page: 1
24
Game id: 474150
Page: 1
23
Game id: 474158
Page: 1
27
Game id: 474165
Page: 1
29
Game id: 474271
Page: 1
26
Game id: 474179
Page: 1
24
Game id: 473930
Page: 1
23
Game id: 474181
Page: 1
23
Game id: 474185
Page: 1
25
Game id: 474202
Page: 1
23
Game id: 474216
Page: 1
26
Game id: 474221
Page: 1
24
Game id: 474225
Page: 1
25
Game id: 474261
Page: 1
24
Game id: 474549
Page: 1
29
Game id: 474289
Page: 1
24
Game id: 474312
Page: 1
24
Game id: 474326
Page: 1
25
Game id: 474351
Page: 1
26
Game id: 474360
Page: 1
24
Game id: 474579
Page: 1
26
Game id: 474543
Page: 1
25
Game id: 474568
Page: 1
28
Game id: 474573
Page: 1
26
Game id: 474347
Page: 1
34
Game id: 474594
Page: 1
23
Game id: 463444
Page: 1
30
Game id: 473564
Page: 1
26
Game id: 473507
Page: 1
28
Game id: 473513
Page: 1
27
Game id: 473517
Page: 1
28
Game id: 473531
Page: 1
26
Game id: 473536
Page: 1
24
Game id: 473541
Page: 1
27
Game id: 473552
Page: 1
25
Game id: 473623
Page: 1
27
Game id: 473557
Page: 1
28
Game id: 473568
Page: 1
34
Game id: 473589
Page: 1
26
Game id: 473596
Page: 1
25
Game id: 473602

,gameID,statsID,assists,blocks,defensiveRebounds,threePointFieldGoalPercent,threePointFieldGoalAttempted,threePointFieldGoal,fieldGoalPercent,fieldGoalAttempt,...,playerHeightInches,playerLastName,playerPosition,team_id,playerWeightPounds,points,rebounds,steals,teamID,turnovers
0,48815,1159251,1,1,3,40.0,5,2,50.0,8,...,7,Green,G-F,8,205,10,3,1,11,3
1,48815,1159254,2,1,1,0.0,4,0,33.3,6,...,4,Rivers,G,18,200,6,1,2,11,2
2,48815,1159253,0,1,1,0.0,0,0,75.0,4,...,11,,C-F,1,250,8,3,2,11,1
3,48815,1159252,0,0,0,0.0,0,0,0.0,0,...,None,Jones,,11,None,0,0,0,11,0
4,48815,1159255,3,2,3,42.9,7,3,57.9,19,...,9,Durant,F,3,240,29,4,0,10,2
5,48815,1159256,3,0,4,0.0,2,0,33.3,6,...,7,Green,F,10,230,4,4,0,10,3
6,48815,1159257,2,4,10,33.3,3,1,33.3,12,...,11,Cousins,C,8,270,13,14,3,10,6
7,48815,1159258,6,0,3,42.9,7,3,41.2,17,...,7,Thompson,G,10,215,20,4,2,10,0
8,48815,1159259,7,1,9,45.5,11,5,50.0,18,...,3,Curry,G,10,190,25,9,1,10,3
9,48815,1159263,4,1,2,25.0,4,1,42.9,7,...,6,Iguodala,G-F,10,215,8,2,1,10,1
10,48815,1159264,0,0,3,50.0,2,1,50.0,2,...,10,Jerebko,F,10,231,3,3,0,10,1
11,48815,1159261,0,0,0,0.0,0,0,0.0,2,...,2,Cook,G,25,179,0,0,0,10,0
12,48815,1159265,1,0,0,0.0,0,0,33.3,3,...,7,Livingston,G,10,192,2,2,0,10,1
13,48815,1159260,0,2,2,0.0,0,0,100.0,3,...,9,Bell,F,5,224,6,3,1,10,0
14,48815,1159262,0,0,0,0.0,0,0,0.0,0,...,6,Evans,G,18,210,0,0,0,10,0
15,48815,1159267,0,0,0,0.0,0,0,0.0,0,...,8,McKinnie,F,5,215,0,0,0,10,0
16,48815,1159266,0,0,1,0.0,0,0,100.0,1,...,9,Looney,F,10,220,2,1,0,10,0
17,48815,1159244,0,2,9,44.4,9,4,45.5,11,...,6,Tucker,F,23,245,18,10,4,11,0
18,48815,1159245,2,0,5,50.0,4,2,41.2,17,...,8,Faried,F-C,25,220,20,10,0,11,0
19,48815,1159246,0,1,13,0.0,0,0,50.0,8,...,10,Capela,C,1,240,8,15,1,11,1
20,48815,1159247,4,1,1,33.3,12,4,40.0,20,...,4,Gordon,G,11,215,25,1,1,11,1
21,48815,1159248,17,0,4,44.4,9,4,38.9,18,...,0,Paul,G,24,175,23,5,2,11,5
22,48815,1159249,0,0,0,0.0,0,0,0.0,0,...,8,Clark,F,19,225,0,0,0,11,0
23,48815,1159250,0,0,0,0.0,0,0,0.0,0,...,8,Edwards,F,11,225,0,0,0,11,0
24,48814,1159344,4,0,6,60.0,5,3,46.7,15,...,8,Wiggins,F-G,10,194,18,9,0,18,1
25,48814,1159345,3,0,5,20.0,5,1,18.2,11,...,10,Saric,F,24,223,7,8,1,18,0
26,48814,1159346,1,0,3,0.0,0,0,41.2,17,...,9,Gibson,F,30,232,20,6,0,18,1
27,48814,1159347,0,0,1,100.0,2,2,66.7,9,...,4,Okogie,G,24,212,14,2,1,18,2
28,48814,1159348,4,0,0,0.0,1,0,14.3,7,...,2,Teague,G,17,195,2,0,1,18,2
29,48814,1159352,9,0,3,0.0,1,0,40.0,10,...,2,Jones,G,15,196,9,3,4,18,1
30,48814,1159353,4,0,2,0.0,2,0,66.7,15,...,3,Rose,G,20,200,23,2,0,18,2
31,48814,1159354,1,1,5,71.4,7,5,75.0,8,...,8,Tolliver,F,19,250,17,5,0,18,0
32,48814,1159351,2,0,0,33.3,3,1,57.1,7,...,9,Deng,F,18,237,10,0,0,18,1
33,48814,1159349,1,1,4,0.0,0,0,100.0,3,...,9,Bates-Diop,F,27,229,8,6,0,18,0
34,48814,1159350,0,0,0,0.0,0,0,0.0,0,...,3,Bayless,G,18,200,0,0,0,18,0
35,48814,1159355,3,0,6,40.0,10,4,55.6,18,...,8,Middleton,F,17,222,28,7,0,17,1
36,48814,1159356,7,2,9,75.0,4,3,56.2,16,...,11,Antetokounmpo,F,17,242,27,10,1,17,3
37,48814,1159357,1,4,7,37.5,8,3,53.8,13,...,0,Lopez,C,17,270,19,7,1,17,1
38,48814,1159358,4,0,4,50.0,4,2,45.5,11,...,5,Brogdon,G,2,229,16,5,1,17,2
39,48814,1159359,7,0,4,25.0,4,1,54.5,11,...,1,Bledsoe,G,25,205,16,5,2,17,3
40,48814,1159360,2,0,1,0.0,0,0,100.0,2,...,6,Brown,G,7,232,4,1,0,17,1
41,48814,1159363,0,0,2,75.0,4,3,50.0,8,...,10,Ilyasova,F,5,235,13,7,0,17,0
42,48814,1159361,0,0,0,0.0,1,0,0.0,2,...,4,Connaughton,G,17,209,0,0,0,17,0
43,48814,1159366,0,0,0,0.0,0,0,0.0,0,...,10,Wilson,F,28,231,0,0,0,17,0
44,48814,1159367,0,0,0,0.0,0,0,0.0,0,...,10,Wood,F,7,214,0,0,0,17,0
45,48814,1159365,0,0,1,0.0,0,0,0.0,1,...,7,Snell,G,19,213,0,1,0,17,0
46,48814,1159364,1,2,5,50.0,6,3,63.6,11,...,10,Mirotic,F,17,250,17,6,1,17,0
47,48814,1159362,3,0,0,0.0,2,0,0.0,2,...,3,Hill,G,17,188,0,0,0,17,0
48,48816,1162349,1,0,6,100.0,1,1,66.7,6,...,8,Finney-Smith,F,7,220,9,6,0,7,0
49,48816,1162350,1,0,2,33.3,9,3,42.9,14,...,0,Nowitzki,F,7,245,15,2,1,7,0

In [ ]:
game_stats_df

,Unnamed: 0,gameID,statsID,assists,blocks,defensiveRebounds,threePointFieldGoalPercent,threePointFieldGoalAttempted,threePointFieldGoal,fieldGoalPercent,...,playerLastName,playerPosition,team_id,playerWeightPounds,points,rebounds,steals,teamID,turnovers,winner
0,0,48815,1159251,1,1,3,40.0,5,2,50.0,...,Green,G-F,8,205.0,10,3,1,11,3,1
1,1,48815,1159254,2,1,1,0.0,4,0,33.3,...,Rivers,G,18,200.0,6,1,2,11,2,1
2,2,48815,1159253,0,1,1,0.0,0,0,75.0,...,NaN,C-F,1,250.0,8,3,2,11,1,1
3,3,48815,1159252,0,0,0,0.0,0,0,0.0,...,Jones,NaN,11,NaN,0,0,0,11,0,1
4,4,48815,1159255,3,2,3,42.9,7,3,57.9,...,Durant,F,3,240.0,29,4,0,10,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100180,100180,473368,12292760,0,0,0,0.0,0,0,0.0,...,Guy,G,16,NaN,0,0,0,6,0,0
100181,100181,473368,12292761,0,0,0,0.0,0,0,0.0,...,Kabengele,F,2,NaN,0,0,0,6,0,0
100182,100182,473368,12292762,0,0,0,0.0,0,0,0.0,...,Nembhard Jr.,G,6,NaN,0,0,0,6,0,0
100183,100183,473368,12292763,0,0,0,0.0,0,0,0.0,...,Thomas,G,2,NaN,0,0,0,6,0,0
100184,100184,473368,12292764,0,0,0,0.0,0,0,0.0,...,Fall,C,6,NaN,0,0,0,6,0,0

In [ ]:
game_stats_df.to_csv('/content/drive/MyDrive/Machine Learning NBA /allStatsFinal.csv')

##COBINING ALL DATA

In [ ]:
game_df = pd.read_csv('/content/drive/MyDrive/Machine Learning NBA /allGamesFinal.csv')
game_stats_df = pd.read_csv('/content/drive/MyDrive/Machine Learning NBA /allStatsFinal.csv')

game_stats_df.head()

,Unnamed: 0,Unnamed: 0.1,gameID,statsID,assists,blocks,defensiveRebounds,threePointFieldGoalPercent,threePointFieldGoalAttempted,threePointFieldGoal,...,playerLastName,playerPosition,team_id,playerWeightPounds,points,rebounds,steals,teamID,turnovers,winner
0,0,0,48815,1159251,1,1,3,40.0,5,2,...,Green,G-F,8,205.0,10,3,1,11,3,1
1,1,1,48815,1159254,2,1,1,0.0,4,0,...,Rivers,G,18,200.0,6,1,2,11,2,1
2,2,2,48815,1159253,0,1,1,0.0,0,0,...,NaN,C-F,1,250.0,8,3,2,11,1,1
3,3,3,48815,1159252,0,0,0,0.0,0,0,...,Jones,NaN,11,NaN,0,0,0,11,0,1
4,4,4,48815,1159255,3,2,3,42.9,7,3,...,Durant,F,3,240.0,29,4,0,10,2,0

In [ ]:
game_df['winner'] = game_df.apply(lambda row: row.homeTeamID if row.homeTeamScore > row.visitorTeamScore else row.visitorTeamID, axis=1)
game_df

,Unnamed: 0,gameID,date,homeTeamScore,visitorTeamScore,season,period,status,time,postseasonBoolean,...,homeTeamFullName,homeTeamName,visitorTeamID,visitorTeamAbbrev,visitorTeamCity,visitorTeamConference,visitorTeamDivision,visitorTeamFullName,visitorTeamName,winner
0,0,27276,2014-11-06T00:00:00.000Z,108,87,2014,4,Final,,False,...,Portland Trail Blazers,Trail Blazers,7,DAL,Dallas,West,Southwest,Dallas Mavericks,Dallas Mavericks,25
1,1,27277,2014-11-07T00:00:00.000Z,122,119,2014,4,Final,,False,...,Charlotte Hornets,Hornets,1,ATL,Atlanta,East,Southeast,Atlanta Hawks,Atlanta Hawks,4
2,2,27278,2014-11-08T00:00:00.000Z,87,98,2014,4,Final,,False,...,Houston Rockets,Rockets,10,GSW,Golden State,West,Pacific,Golden State Warriors,Golden State Warriors,10
3,3,27279,2014-11-09T00:00:00.000Z,116,100,2014,4,Final,,False,...,Portland Trail Blazers,Trail Blazers,8,DEN,Denver,West,Northwest,Denver Nuggets,Denver Nuggets,25
4,4,27280,2014-11-10T00:00:00.000Z,85,89,2014,4,Final,,False,...,LA Clippers,Clippers,27,SAS,San Antonio,West,Southwest,San Antonio Spurs,San Antonio Spurs,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10284,10284,856779,2022-06-13T00:00:00.000Z,104,84,2021,4,Final,NaN,True,...,Golden State Warriors,Warriors,2,BOS,Boston,East,Atlantic,Boston Celtics,Boston Celtics,10
10285,10285,856171,2022-06-08T00:00:00.000Z,116,100,2021,4,Final,NaN,True,...,Boston Celtics,Celtics,10,GSW,Golden State,West,Pacific,Golden State Warriors,Golden State Warriors,2
10286,10286,857067,2022-06-16T00:00:00.000Z,90,103,2021,4,Final,NaN,True,...,Boston Celtics,Celtics,10,GSW,Golden State,West,Pacific,Golden State Warriors,Golden State Warriors,10
10287,10287,473367,2021-10-05T00:00:00.000Z,125,104,2021,4,Final,Final,False,...,New York Knicks,Knicks,12,IND,Indiana,East,Central,Indiana Pacers,Indiana Pacers,20
10288,10288,473368,2021-10-05T00:00:00.000Z,131,95,2021,4,Final,Final,False,...,Chicago Bulls,Bulls,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cleveland Cavaliers,5

In [ ]:
game_df.to_csv('/content/drive/MyDrive/Machine Learning NBA /allGamesFinalWithWinnerCol.csv')

### Add a winner column. Populate with a 1 if the player was on the winning team. 0 if the player was on the losing team.
if row.teamID == game_df.loc[game_df['gameID'] == row.teamID]['winner']

In [ ]:
game_stats_df['winner'] = game_stats_df.apply(lambda row: 1 if row.teamID == game_df.loc[game_df['gameID'] == row.gameID]['winner'].values[0] else 0, axis=1)

In [ ]:
game_stats_df.head(50)

,Unnamed: 0,Unnamed: 0.1,gameID,statsID,assists,blocks,defensiveRebounds,threePointFieldGoalPercent,threePointFieldGoalAttempted,threePointFieldGoal,...,playerLastName,playerPosition,team_id,playerWeightPounds,points,rebounds,steals,teamID,turnovers,winner
0,0,0,48815,1159251,1,1,3,40.0,5,2,...,Green,G-F,8,205.0,10,3,1,11,3,1
1,1,1,48815,1159254,2,1,1,0.0,4,0,...,Rivers,G,18,200.0,6,1,2,11,2,1
2,2,2,48815,1159253,0,1,1,0.0,0,0,...,NaN,C-F,1,250.0,8,3,2,11,1,1
3,3,3,48815,1159252,0,0,0,0.0,0,0,...,Jones,NaN,11,NaN,0,0,0,11,0,1
4,4,4,48815,1159255,3,2,3,42.9,7,3,...,Durant,F,3,240.0,29,4,0,10,2,0
5,5,5,48815,1159256,3,0,4,0.0,2,0,...,Green,F,10,230.0,4,4,0,10,3,0
6,6,6,48815,1159257,2,4,10,33.3,3,1,...,Cousins,C,8,270.0,13,14,3,10,6,0
7,7,7,48815,1159258,6,0,3,42.9,7,3,...,Thompson,G,10,215.0,20,4,2,10,0,0
8,8,8,48815,1159259,7,1,9,45.5,11,5,...,Curry,G,10,190.0,25,9,1,10,3,0
9,9,9,48815,1159263,4,1,2,25.0,4,1,...,Iguodala,G-F,10,215.0,8,2,1,10,1,0
10,10,10,48815,1159264,0,0,3,50.0,2,1,...,Jerebko,F,10,231.0,3,3,0,10,1,0
11,11,11,48815,1159261,0,0,0,0.0,0,0,...,Cook,G,25,179.0,0,0,0,10,0,0
12,12,12,48815,1159265,1,0,0,0.0,0,0,...,Livingston,G,10,192.0,2,2,0,10,1,0
13,13,13,48815,1159260,0,2,2,0.0,0,0,...,Bell,F,5,224.0,6,3,1,10,0,0
14,14,14,48815,1159262,0,0,0,0.0,0,0,...,Evans,G,18,210.0,0,0,0,10,0,0
15,15,15,48815,1159267,0,0,0,0.0,0,0,...,McKinnie,F,5,215.0,0,0,0,10,0,0
16,16,16,48815,1159266,0,0,1,0.0,0,0,...,Looney,F,10,220.0,2,1,0,10,0,0
17,17,17,48815,1159244,0,2,9,44.4,9,4,...,Tucker,F,23,245.0,18,10,4,11,0,1
18,18,18,48815,1159245,2,0,5,50.0,4,2,...,Faried,F-C,25,220.0,20,10,0,11,0,1
19,19,19,48815,1159246,0,1,13,0.0,0,0,...,Capela,C,1,240.0,8,15,1,11,1,1
20,20,20,48815,1159247,4,1,1,33.3,12,4,...,Gordon,G,11,215.0,25,1,1,11,1,1
21,21,21,48815,1159248,17,0,4,44.4,9,4,...,Paul,G,24,175.0,23,5,2,11,5,1
22,22,22,48815,1159249,0,0,0,0.0,0,0,...,Clark,F,19,225.0,0,0,0,11,0,1
23,23,23,48815,1159250,0,0,0,0.0,0,0,...,Edwards,F,11,225.0,0,0,0,11,0,1
24,24,24,48814,1159344,4,0,6,60.0,5,3,...,Wiggins,F-G,10,194.0,18,9,0,18,1,0
25,25,25,48814,1159345,3,0,5,20.0,5,1,...,Saric,F,24,223.0,7,8,1,18,0,0
26,26,26,48814,1159346,1,0,3,0.0,0,0,...,Gibson,F,30,232.0,20,6,0,18,1,0
27,27,27,48814,1159347,0,0,1,100.0,2,2,...,Okogie,G,24,212.0,14,2,1,18,2,0
28,28,28,48814,1159348,4,0,0,0.0,1,0,...,Teague,G,17,195.0,2,0,1,18,2,0
29,29,29,48814,1159352,9,0,3,0.0,1,0,...,Jones,G,15,196.0,9,3,4,18,1,0
30,30,30,48814,1159353,4,0,2,0.0,2,0,...,Rose,G,20,200.0,23,2,0,18,2,0
31,31,31,48814,1159354,1,1,5,71.4,7,5,...,Tolliver,F,19,250.0,17,5,0,18,0,0
32,32,32,48814,1159351,2,0,0,33.3,3,1,...,Deng,F,18,237.0,10,0,0,18,1,0
33,33,33,48814,1159349,1,1,4,0.0,0,0,...,Bates-Diop,F,27,229.0,8,6,0,18,0,0
34,34,34,48814,1159350,0,0,0,0.0,0,0,...,Bayless,G,18,200.0,0,0,0,18,0,0
35,35,35,48814,1159355,3,0,6,40.0,10,4,...,Middleton,F,17,222.0,28,7,0,17,1,1
36,36,36,48814,1159356,7,2,9,75.0,4,3,...,Antetokounmpo,F,17,242.0,27,10,1,17,3,1
37,37,37,48814,1159357,1,4,7,37.5,8,3,...,Lopez,C,17,270.0,19,7,1,17,1,1
38,38,38,48814,1159358,4,0,4,50.0,4,2,...,Brogdon,G,2,229.0,16,5,1,17,2,1
39,39,39,48814,1159359,7,0,4,25.0,4,1,...,Bledsoe,G,25,205.0,16,5,2,17,3,1
40,40,40,48814,1159360,2,0,1,0.0,0,0,...,Brown,G,7,232.0,4,1,0,17,1,1
41,41,41,48814,1159363,0,0,2,75.0,4,3,...,Ilyasova,F,5,235.0,13,7,0,17,0,1
42,42,42,48814,1159361,0,0,0,0.0,1,0,...,Connaughton,G,17,209.0,0,0,0,17,0,1
43,43,43,48814,1159366,0,0,0,0.0,0,0,...,Wilson,F,28,231.0,0,0,0,17,0,1
44,44,44,48814,1159367,0,0,0,0.0,0,0,...,Wood,F,7,214.0,0,0,0,17,0,1
45,45,45,48814,1159365,0,0,1,0.0,0,0,...,Snell,G,19,213.0,0,1,0,17,0,1
46,46,46,48814,1159364,1,2,5,50.0,6,3,...,Mirotic,F,17,250.0,17,6,1,17,0,1
47,47,47,48814,1159362,3,0,0,0.0,2,0,...,Hill,G,17,188.0,0,0,0,17,0,1
48,48,48,48816,1162349,1,0,6,100.0,1,1,...,Finney-Smith,F,7,220.0,9,6,0,7,0,0
49,49,49,48816,1162350,1,0,2,33.3,9,3,...,Nowitzki,F,7,245.0,15,2,1,7,0,0

### Save data to CSV

In [ ]:
game_stats_df.to_csv('allStatsFinalWithWinnerCol.csv')

##Combining All Data

## Read in API stats data CSV

In [ ]:
stats_df = pd.read_csv('/content/drive/MyDrive/Machine Learning NBA /mainallStatsFinalWithWinnerCol.csv')
stats_df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,Unnamed: 0.1,gameID,statsID,assists,blocks,defensiveRebounds,threePointFieldGoalPercent,threePointFieldGoalAttempted,threePointFieldGoal,...,playerLastName,playerPosition,team_id,playerWeightPounds,points,rebounds,steals,teamID,turnovers,winner
0,0,0,473431,7378174,7,0,0,66.700000,6,4,...,Rose,G,20,200.0,12,0,0,20,0,1
1,1,1,473431,7378178,0,0,3,80.000000,5,4,...,Wagner,F,22,NaN,16,4,0,22,3,0
2,2,2,473431,7378179,4,1,9,25.000000,4,1,...,Carter Jr.,F,22,255.0,10,11,1,22,1,0
3,3,3,473431,7378180,1,2,10,60.000000,5,3,...,Bamba,C,22,221.0,15,10,1,22,1,0
4,4,4,473431,7378182,6,0,2,28.600000,7,2,...,Anthony,G,22,NaN,10,2,1,22,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39968,39968,39968,857599,12363916,4,0,4,0.500000,6,3,...,Hayward,F,4,225.0,20,5,0,4,2,0
39969,39969,39969,857599,12363917,1,1,4,0.333333,6,2,...,Washington,F,4,NaN,13,5,0,4,3,0
39970,39970,39970,857599,12363918,4,1,4,0.000000,0,0,...,Plumlee,F-C,4,235.0,9,8,0,4,2,0
39971,39971,39971,857599,12363919,0,1,6,0.142857,7,1,...,Oubre Jr.,F,4,205.0,23,7,1,4,0,0
39972,39972,39972,857599,12363920,5,0,4,0.000000,6,0,...,Rozier,G,4,190.0,8,7,1,4,2,0

##Read Player Stats Data

In [ ]:
ages_df = pd.read_csv('/content/drive/MyDrive/Machine Learning NBA /all_seasons 2.csv')
ages_df.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97

### Read API game data CSV

In [ ]:
games_df = pd.read_csv('/content/drive/MyDrive/Machine Learning NBA /allGamesFinalWithWinnerCol.csv')
games_df

,Unnamed: 0,Unnamed: 0.1,gameID,date,homeTeamScore,visitorTeamScore,season,period,status,time,...,homeTeamFullName,homeTeamName,visitorTeamID,visitorTeamAbbrev,visitorTeamCity,visitorTeamConference,visitorTeamDivision,visitorTeamFullName,visitorTeamName,winner
0,0,0,27276,2014-11-06T00:00:00.000Z,108,87,2014,4,Final,,...,Portland Trail Blazers,Trail Blazers,7,DAL,Dallas,West,Southwest,Dallas Mavericks,Dallas Mavericks,25
1,1,1,27277,2014-11-07T00:00:00.000Z,122,119,2014,4,Final,,...,Charlotte Hornets,Hornets,1,ATL,Atlanta,East,Southeast,Atlanta Hawks,Atlanta Hawks,4
2,2,2,27278,2014-11-08T00:00:00.000Z,87,98,2014,4,Final,,...,Houston Rockets,Rockets,10,GSW,Golden State,West,Pacific,Golden State Warriors,Golden State Warriors,10
3,3,3,27279,2014-11-09T00:00:00.000Z,116,100,2014,4,Final,,...,Portland Trail Blazers,Trail Blazers,8,DEN,Denver,West,Northwest,Denver Nuggets,Denver Nuggets,25
4,4,4,27280,2014-11-10T00:00:00.000Z,85,89,2014,4,Final,,...,LA Clippers,Clippers,27,SAS,San Antonio,West,Southwest,San Antonio Spurs,San Antonio Spurs,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10284,10284,10284,856779,2022-06-13T00:00:00.000Z,104,84,2021,4,Final,NaN,...,Golden State Warriors,Warriors,2,BOS,Boston,East,Atlantic,Boston Celtics,Boston Celtics,10
10285,10285,10285,856171,2022-06-08T00:00:00.000Z,116,100,2021,4,Final,NaN,...,Boston Celtics,Celtics,10,GSW,Golden State,West,Pacific,Golden State Warriors,Golden State Warriors,2
10286,10286,10286,857067,2022-06-16T00:00:00.000Z,90,103,2021,4,Final,NaN,...,Boston Celtics,Celtics,10,GSW,Golden State,West,Pacific,Golden State Warriors,Golden State Warriors,10
10287,10287,10287,473367,2021-10-05T00:00:00.000Z,125,104,2021,4,Final,Final,...,New York Knicks,Knicks,12,IND,Indiana,East,Central,Indiana Pacers,Indiana Pacers,20
10288,10288,10288,473368,2021-10-05T00:00:00.000Z,131,95,2021,4,Final,Final,...,Chicago Bulls,Bulls,6,CLE,Cleveland,East,Central,Cleveland Cavaliers,Cleveland Cavaliers,5

### Merge dataframes

In [ ]:
master_df = pd.merge(stats_df, games_df, how='left', on='gameID')
print(master_df.columns)
print(master_df.shape)
master_df

Index(['Unnamed: 0_x', 'Unnamed: 0.1_x', 'gameID', 'statsID', 'assists',
       'blocks', 'defensiveRebounds', 'threePointFieldGoalPercent',
       'threePointFieldGoalAttempted', 'threePointFieldGoal',
       'fieldGoalPercent', 'fieldGoalAttempt', 'fieldGoalMade',
       'freeThrowPercent', 'freeThrowAttempt', 'freeThrowMade', 'minutes',
       'offensiveRebound', 'personalFouls', 'playerID', 'playerFirstName',
       'playerHeightFeet', 'playerHeightInches', 'playerLastName',
       'playerPosition', 'team_id', 'playerWeightPounds', 'points', 'rebounds',
       'steals', 'teamID', 'turnovers', 'winner_x', 'Unnamed: 0_y',
       'Unnamed: 0.1_y', 'date', 'homeTeamScore', 'visitorTeamScore', 'season',
       'period', 'status', 'time', 'postseasonBoolean', 'homeTeamID',
       'homeTeamAbbrev', 'homeTeamCity', 'homeTeamConference',
       'homeTeamDivision', 'homeTeamFullName', 'homeTeamName', 'visitorTeamID',
       'visitorTeamAbbrev', 'visitorTeamCity', 'visitorTeamConference',
       'visitorTeamDivision', 'visitorTeamFullName', 'visitorTeamName',
       'winner_y'],
      dtype='object')
(39973, 58)

,Unnamed: 0_x,Unnamed: 0.1_x,gameID,statsID,assists,blocks,defensiveRebounds,threePointFieldGoalPercent,threePointFieldGoalAttempted,threePointFieldGoal,...,homeTeamFullName,homeTeamName,visitorTeamID,visitorTeamAbbrev,visitorTeamCity,visitorTeamConference,visitorTeamDivision,visitorTeamFullName,visitorTeamName,winner_y
0,0,0,473431,7378174,7,0,0,66.700000,6,4,...,Orlando Magic,Magic,20.0,NYK,New York,East,Atlantic,New York Knicks,New York Knicks,20.0
1,1,1,473431,7378178,0,0,3,80.000000,5,4,...,Orlando Magic,Magic,20.0,NYK,New York,East,Atlantic,New York Knicks,New York Knicks,20.0
2,2,2,473431,7378179,4,1,9,25.000000,4,1,...,Orlando Magic,Magic,20.0,NYK,New York,East,Atlantic,New York Knicks,New York Knicks,20.0
3,3,3,473431,7378180,1,2,10,60.000000,5,3,...,Orlando Magic,Magic,20.0,NYK,New York,East,Atlantic,New York Knicks,New York Knicks,20.0
4,4,4,473431,7378182,6,0,2,28.600000,7,2,...,Orlando Magic,Magic,20.0,NYK,New York,East,Atlantic,New York Knicks,New York Knicks,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39968,39968,39968,857599,12363916,4,0,4,0.500000,6,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39969,39969,39969,857599,12363917,1,1,4,0.333333,6,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39970,39970,39970,857599,12363918,4,1,4,0.000000,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39971,39971,39971,857599,12363919,0,1,6,0.142857,7,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39972,39972,39972,857599,12363920,5,0,4,0.000000,6,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
ages_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12305 entries, 0 to 12304
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         12305 non-null  int64
 1   player_name        12305 non-null  object
 2   team_abbreviation  12305 non-null  object
 3   age                12305 non-null  float64
 4   player_height      12305 non-null  float64
 5   player_weight      12305 non-null  float64
 6   college            12305 non-null  object
 7   country            12305 non-null  object
 8   draft_year         12305 non-null  object
 9   draft_round        12305 non-null  object
 10  draft_number       12305 non-null  object
 11  gp                 12305 non-null  int64
 12  pts                12305 non-null  float64
 13  reb                12305 non-null  float64
 14  ast                12305 non-null  float64
 15  net_rating         12305 non-null  float64
 16  oreb_pct           12305 non-null  float64
 17  dreb_pct           12305 non-null  float64
 18  usg_pct            12305 non-null  float64
 19  ts_pct             12305 non-null  float64
 20  ast_pct            12305 non-null  float64
 21  season             12305 non-null  object
dtypes: float64(12), int64(2), object(8)
memory usage: 2.1+ MB

In [ ]:
print(games_df.columns)
print(stats_df.columns)
print(ages_df.columns)
print(master_df.columns)

Index(['Unnamed: 0', 'Unnamed: 0.1', 'gameID', 'date', 'homeTeamScore',
       'visitorTeamScore', 'season', 'period', 'status', 'time',
       'postseasonBoolean', 'homeTeamID', 'homeTeamAbbrev', 'homeTeamCity',
       'homeTeamConference', 'homeTeamDivision', 'homeTeamFullName',
       'homeTeamName', 'visitorTeamID', 'visitorTeamAbbrev', 'visitorTeamCity',
       'visitorTeamConference', 'visitorTeamDivision', 'visitorTeamFullName',
       'visitorTeamName', 'winner'],
      dtype='object')
Index(['Unnamed: 0', 'Unnamed: 0.1', 'gameID', 'statsID', 'assists', 'blocks',
       'defensiveRebounds', 'threePointFieldGoalPercent',
       'threePointFieldGoalAttempted', 'threePointFieldGoal',
       'fieldGoalPercent', 'fieldGoalAttempt', 'fieldGoalMade',
       'freeThrowPercent', 'freeThrowAttempt', 'freeThrowMade', 'minutes',
       'offensiveRebound', 'personalFouls', 'playerID', 'playerFirstName',
       'playerHeightFeet', 'playerHeightInches', 'playerLastName',
       'playerPosition', 'team_id', 'playerWeightPounds', 'points', 'rebounds',
       'steals', 'teamID', 'turnovers', 'winner'],
      dtype='object')
Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'age',
       'player_height', 'player_weight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')
Index(['Unnamed: 0_x', 'Unnamed: 0.1_x', 'gameID', 'statsID', 'assists',
       'blocks', 'defensiveRebounds', 'threePointFieldGoalPercent',
       'threePointFieldGoalAttempted', 'threePointFieldGoal',
       'fieldGoalPercent', 'fieldGoalAttempt', 'fieldGoalMade',
       'freeThrowPercent', 'freeThrowAttempt', 'freeThrowMade', 'minutes',
       'offensiveRebound', 'personalFouls', 'playerID', 'playerFirstName',
       'playerHeightFeet', 'playerHeightInches', 'playerLastName',
       'playerPosition', 'team_id', 'playerWeightPounds', 'points', 'rebounds',
       'steals', 'teamID', 'turnovers', 'winner_x', 'Unnamed: 0_y',
       'Unnamed: 0.1_y', 'date', 'homeTeamScore', 'visitorTeamScore', 'season',
       'period', 'status', 'time', 'postseasonBoolean', 'homeTeamID',
       'homeTeamAbbrev', 'homeTeamCity', 'homeTeamConference',
       'homeTeamDivision', 'homeTeamFullName', 'homeTeamName', 'visitorTeamID',
       'visitorTeamAbbrev', 'visitorTeamCity', 'visitorTeamConference',
       'visitorTeamDivision', 'visitorTeamFullName', 'visitorTeamName',
       'winner_y'],
      dtype='object')

## Take only the first year of season column to make merging easier

In [ ]:
ages_df['season'] = ages_df['season'].map(lambda y: y[:4])
ages_df.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996
1,1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996
2,2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996
3,3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996
4,4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996

###Add a column with both first and last name to make merging easier

In [ ]:
master_df['player_name'] = master_df['playerFirstName'] + ' ' + master_df['playerLastName']
master_df = master_df.drop(['Unnamed: 0_x', 'Unnamed: 0.1_x'], axis = 1)
master_df.head()

,gameID,statsID,assists,blocks,defensiveRebounds,threePointFieldGoalPercent,threePointFieldGoalAttempted,threePointFieldGoal,fieldGoalPercent,fieldGoalAttempt,...,homeTeamName,visitorTeamID,visitorTeamAbbrev,visitorTeamCity,visitorTeamConference,visitorTeamDivision,visitorTeamFullName,visitorTeamName,winner_y,player_name
0,473431,7378174,7,0,0,66.7,6,4,50.0,8,...,Magic,20.0,NYK,New York,East,Atlantic,New York Knicks,New York Knicks,20.0,Derrick Rose
1,473431,7378178,0,0,3,80.0,5,4,50.0,12,...,Magic,20.0,NYK,New York,East,Atlantic,New York Knicks,New York Knicks,20.0,Franz Wagner
2,473431,7378179,4,1,9,25.0,4,1,42.9,7,...,Magic,20.0,NYK,New York,East,Atlantic,New York Knicks,New York Knicks,20.0,Wendell Carter Jr.
3,473431,7378180,1,2,10,60.0,5,3,66.7,9,...,Magic,20.0,NYK,New York,East,Atlantic,New York Knicks,New York Knicks,20.0,Mo Bamba
4,473431,7378182,6,0,2,28.6,7,2,21.4,14,...,Magic,20.0,NYK,New York,East,Atlantic,New York Knicks,New York Knicks,20.0,Cole Anthony

In [ ]:
# change data types to make merging possible
master_df.dtypes
ages_df.dtypes
ages_df = ages_df.astype({'season': 'int64'})

### Merge on player name and the year to get AGES

In [ ]:
master_final_df = pd.merge(master_df, ages_df, how='left', on=['player_name','season'])

In [ ]:
master_final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39973 entries, 0 to 39972
Data columns (total 77 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   gameID                        39973 non-null  int64
 1   statsID                       39973 non-null  int64
 2   assists                       39973 non-null  int64
 3   blocks                        39973 non-null  int64
 4   defensiveRebounds             39973 non-null  int64
 5   threePointFieldGoalPercent    39973 non-null  float64
 6   threePointFieldGoalAttempted  39973 non-null  int64
 7   threePointFieldGoal           39973 non-null  int64
 8   fieldGoalPercent              39973 non-null  float64
 9   fieldGoalAttempt              39973 non-null  int64
 10  fieldGoalMade                 39973 non-null  int64
 11  freeThrowPercent              39973 non-null  float64
 12  freeThrowAttempt              39973 non-null  int64
 13  freeThrowMade                 39973 non-null  int64
 14  minutes                       39314 non-null  object
 15  offensiveRebound              39973 non-null  int64
 16  personalFouls                 39973 non-null  int64
 17  playerID                      39973 non-null  int64
 18  playerFirstName               39973 non-null  object
 19  playerHeightFeet              21292 non-null  float64
 20  playerHeightInches            21292 non-null  float64
 21  playerLastName                39973 non-null  object
 22  playerPosition                39288 non-null  object
 23  team_id                       39973 non-null  int64
 24  playerWeightPounds            21292 non-null  float64
 25  points                        39973 non-null  int64
 26  rebounds                      39973 non-null  int64
 27  steals                        39973 non-null  int64
 28  teamID                        39973 non-null  int64
 29  turnovers                     39973 non-null  int64
 30  winner_x                      39973 non-null  int64
 31  Unnamed: 0_y                  31472 non-null  float64
 32  Unnamed: 0.1_y                31472 non-null  float64
 33  date                          31472 non-null  object
 34  homeTeamScore                 31472 non-null  float64
 35  visitorTeamScore              31472 non-null  float64
 36  season                        31472 non-null  float64
 37  period                        31472 non-null  float64
 38  status                        31472 non-null  object
 39  time                          477 non-null    object
 40  postseasonBoolean             31472 non-null  object
 41  homeTeamID                    31472 non-null  float64
 42  homeTeamAbbrev                31472 non-null  object
 43  homeTeamCity                  31472 non-null  object
 44  homeTeamConference            31472 non-null  object
 45  homeTeamDivision              31472 non-null  object
 46  homeTeamFullName              31472 non-null  object
 47  homeTeamName                  31472 non-null  object
 48  visitorTeamID                 31472 non-null  float64
 49  visitorTeamAbbrev             31472 non-null  object
 50  visitorTeamCity               31472 non-null  object
 51  visitorTeamConference         31472 non-null  object
 52  visitorTeamDivision           31472 non-null  object
 53  visitorTeamFullName           31472 non-null  object
 54  visitorTeamName               31472 non-null  object
 55  winner_y                      31472 non-null  float64
 56  player_name                   39973 non-null  object
 57  Unnamed: 0                    29852 non-null  float64
 58  team_abbreviation             29852 non-null  object
 59  age                           29852 non-null  float64
 60  player_height                 29852 non-null  float64
 61  player_weight                 29852 non-null  float64
 62  college                       29852 non-null  object
 63  country                       29852 non-null  object
 64  draft_year                    29852 non-null  object
 65  draft_round                   29852 non-null  object
 66  draft_number                  29852 non-null  object
 67  gp                            29852 non-null  float64
 68  pts                           29852 non-null  float64
 69  reb                           29852 non-null  float64
 70  ast                           29852 non-null  float64
 71  net_rating                    29852 non-null  float64
 72  oreb_pct                      29852 non-null  float64
 73  dreb_pct                      29852 non-null  float64
 74  usg_pct                       29852 non-null  float64
 75  ts_pct                        29852 non-null  float64
 76  ast_pct                       29852 non-null  float64
dtypes: float64(29), int64(21), object(27)
memory usage: 23.8+ MB

**Write FINAL MASTER DATAFRAME it to a CSV**

In [ ]:
master_final_df.to_csv('/content/drive/MyDrive/Machine Learning NBA /master_final_data ')

## Create the empty dataframe that will be used for machine learning

In [ ]:
columns = ['gameID', 'homeTeamID', 'visitorTeamID', 'homeTeamHeightAverage', 'homeTeamWeightAverage', 'homeTeamAgeAverage', 'visitorTeamHeightAverage', 'visitorTeamWeightAverage', 'visitorTeamAgeAverage', 'homeTeamWin']
ml_df = pd.DataFrame(columns=columns)
ml_df.head()

Empty DataFrame
Columns: [gameID, homeTeamID, visitorTeamID, homeTeamHeightAverage, homeTeamWeightAverage, homeTeamAgeAverage, visitorTeamHeightAverage, visitorTeamWeightAverage, visitorTeamAgeAverage, homeTeamWin]
Index: []

###Get rid of unneeded columns

In [ ]:
master_clean_df = master_final_df[['gameID', 'playerID', 'teamID', 'age', 'player_height', 'player_weight', 'minutes','homeTeamScore', 
                             'visitorTeamScore', 'homeTeamID', 'visitorTeamID',  'winner_x',]]
master_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39973 entries, 0 to 39972
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gameID            39973 non-null  int64
 1   playerID          39973 non-null  int64
 2   teamID            39973 non-null  int64
 3   age               29852 non-null  float64
 4   player_height     29852 non-null  float64
 5   player_weight     29852 non-null  float64
 6   minutes           39314 non-null  object
 7   homeTeamScore     31472 non-null  float64
 8   visitorTeamScore  31472 non-null  float64
 9   homeTeamID        31472 non-null  float64
 10  visitorTeamID     31472 non-null  float64
 11  winner_x          39973 non-null  int64
dtypes: float64(7), int64(4), object(1)
memory usage: 4.0+ MB

##Some Preprocessing of Data

In [ ]:
#minutes is an object, so splitting it up into minutes and seconds
splitMinutes = master_clean_df['minutes'].str.split(":", n=1, expand = True)
df_withTime = master_clean_df.copy()
df_withTime['minutesPlayed'] = splitMinutes[0]
df_withTime['secondsPlayed'] = splitMinutes[1]

In [ ]:
#dropping any players who didn't actually play in the game.
df_withTime = df_withTime.dropna()

In [ ]:
#Filling remaining NaN with 0
df_withTime['minutesPlayed'].fillna(0)
df_withTime['secondsPlayed'].fillna(0)

#casting as integers and converting into minutes with fractional minutes from seconds.
final_df = df_withTime.copy()
final_df['minutesPlayed']= final_df['minutesPlayed'].astype('int32')
final_df['secondsPlayed']= final_df['secondsPlayed'].astype('int32')
final_df['gamePlaytime'] = final_df['minutesPlayed'] + (final_df['secondsPlayed']/60)

In [ ]:
#converting the time into a weighted coefficient. 240 is total players game time so values when added will give
#a weighted average age, height and weight.  Must be SUMMED though not averaged as the weight already averages.

final_df = final_df.drop(columns = ['minutesPlayed', 'secondsPlayed', 'minutes'])
final_df['gameAge'] = final_df['gamePlaytime']/240 * final_df['age']
final_df['gameHeight'] = final_df['gamePlaytime']/240 * final_df['player_height']
final_df['gameWeight'] = final_df['gamePlaytime']/240 * final_df['player_weight']

#cleaning up dataframe and putting the columns exactly how the input df want it labeled.
final_df = final_df.drop(columns = ['age', 'player_height', 'player_weight', 'gamePlaytime'])
final_df = final_df.rename(columns = {'gameAge': 'age', 'gameHeight': 'player_height', 'gameWeight': 'player_weight'})

In [ ]:
# Group by game ID
group_by_gameID = final_df.groupby(['gameID'])
group_by_gameID

In [ ]:
for name, group in group_by_gameID:
    # gather the data we need to fill our dataframe
    gameID = name
    homeTeamID = group['homeTeamID'].values[0]
    visitorTeamID = group['visitorTeamID'].values[0]
    homeTeamScore = group['homeTeamScore'].values[0]
    visitorTeamScore = group['visitorTeamScore'].values[0]

    # group by the team to get team average values
    groupByTeamsHomeAvgs = group.groupby(['teamID']).get_group(homeTeamID).mean()
    groupByTeamsVisAvgs = group.groupby(['teamID']).get_group(visitorTeamID).mean()
    homeHeightAvg = groupByTeamsHomeAvgs['player_height']
    homeWeightAvg = groupByTeamsHomeAvgs['player_weight']
    homeAgeAvg = groupByTeamsHomeAvgs['age']
    visHeightAvg = groupByTeamsVisAvgs['player_height']
    visWeightAvg = groupByTeamsVisAvgs['player_weight']
    visAgeAvg = groupByTeamsVisAvgs['age']

    # did home team win? 1 else 0
    homeTeamWin = 1 if (homeTeamScore - visitorTeamScore) > 0 else 0

    # Fill the dataframe row!
    dictRow = { 'gameID': gameID, 'homeTeamID': homeTeamID, 'visitorTeamID': visitorTeamID, 
               'homeTeamHeightAverage': homeHeightAvg, 'homeTeamWeightAverage': homeWeightAvg, 
               'homeTeamAgeAverage': homeAgeAvg, 'visitorTeamHeightAverage': visHeightAvg, 
               'visitorTeamWeightAverage': visWeightAvg, 'visitorTeamAgeAverage': visAgeAvg, 
               'homeTeamWin': homeTeamWin }

    # add row to df
    ml_df = ml_df.append(dictRow, ignore_index=True)

In [ ]:
ml_df.to_csv("/content/drive/MyDrive/Machine Learning NBA /final_data.csv")